.logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

header{
  display: grid;
  /* border: 2px solid blue; */
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  grid-template-columns: 1fr 3fr;
}

header img{
  width: 130px;
  padding: 15px 10px;
}

nav{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 6px;
  padding: 10px;
}