nav{
  background: $cinza-escuro;
  position: fixed;
  width: 70px;
  height: 100%;
  @include centraliza;
  flex-direction: column;
  z-index: 998;
}
nav .nav-img{
  background: $preto;
  width: 100%;
  @include centraliza;
  padding: 25px 0;
  position: absolute;
  top: 0;
}
nav .nav-img img{
  width: 50px;
  margin: 0 auto;
}
ul.nav-icons{
  width: 100%;
  @include centraliza;
  flex-direction: column;
}
ul.nav-icons img{
  width: 25px;
  margin: 15px 0;
  transition: .7s;
}
.nav-title{
  font-size: .6em;
  font-weight: 300;
  color: $azul-principal;
  transition: .7s;
  /* border: 1px solid red; */
}
ul.nav-icons li{
  position: relative;
  width: 100%;
  @include centraliza;
  height: 50px;
  cursor: pointer;
}
ul.nav-icons li a{
  width: 100%;
  @include centraliza;
}
ul.nav-icons li span{
  width: 100%;
  height: 100%;
  position: absolute;
  @include centraliza;
}
ul.nav-icons li span:nth-child(2),
ul.nav-icons li span:nth-child(3){
  opacity: 0;
  transition: .4s;
}
ul.nav-icons li a:hover > span:nth-child(3){
  opacity: 1;
  transition: .4s;
}
ul.nav-icons li a:hover > img:nth-child(1){
  opacity: 0;
  transition: .4s;
}

@media screen and (max-width: 1024px){
  nav{
    background: $preto;
    position: fixed;
    width: 100%;
    height: 70px;
    @include centraliza;
    flex-direction: row;
  }
  nav .nav-img{
    background: $preto;
    width: 100px;
    height: 100%;
    @include centraliza;
    padding: 0 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  nav .nav-img img{
    width: 90px;
  }
  ul.nav-icons{
    width: 80px;
    height: 100vh;
    flex-direction: column;
    @include centraliza;
    position: absolute;
    top: 0;
    left: 0;
    background: $cinza-escuro;
    transition: .5s;
    opacity: 1;
    transform: translateY(0);
  }
  ul.nav-icons-closed{
    transform: translateX(-100%);
    opacity: 0;
  }
  .hamburguer-wrapper{
    @include centraliza;
    position: absolute;
    height: 70px;
    right: 0;
    padding: 0 40px;
  }
  .hamburguer-wrapper span,
  .hamburguer-wrapper span:before,
  .hamburguer-wrapper span:after{
    content: '';
    display: block;
    width: 35px;
    height: 3px;
    background: $azul-principal;
    position: absolute;
  }
  .hamburguer-wrapper span:before{
    bottom: 10px;
  }
  .hamburguer-wrapper span:after{
    top: 10px;
  }
}