.contatos{
  display: flex;
  justify-content: center;
  background: #333;
  /* border: 2px solid red */
}

.contatos .icons i {
  padding: 20px 5px;
  font-size: 60px;
  transition: .4s
}

.contatos i:hover{
  transform: scale(1.2)
}

.contatos .icons{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

@media screen and (max-width: 992px){
  .contatos .icons{
    width: 80%;
  }
}

@media screen and (max-width: 768px){
  .contatos .icons{
    width: 90%;
  }
}

@media screen and (max-width: 491px){
  .contatos .icons{
    width: 100%;
  }

  .contatos .icons i {
    font-size: 40px;
  }
}