.contato{
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  background: #333;
}

.contato i {
  font-size: 30px;
  transition: .4s
}

.contato i:hover{
  transform: scale(1.2)
}