.contato{
  /* padding: 60px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  background: #333;
}

.contato i {
  font-size: 30px;
  transition: .4s
}

.contato i:hover{
  transform: scale(1.2)
}