.home {
  height: 85%;
  display: grid;
  /* border: 1px solid red; */
  grid-template-columns: 1fr 1fr;
}

.home-item-1, .home-item-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  padding-right: 0 70px;
}

.home-item-1 .title{
  padding: 40px;
  border: 1px dashed #ddd;
}

.home-item-1 h1{
  font-size: 3.1rem;
  white-space: nowrap;
}

#palavra::after{
  content: '|';
  margin-left: 2px;
  opacity: 1;
  animation: pisca .7s infinite;
}

@keyframes pisca {
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
}

.home-item-1 h2{
  font-size: 1.3rem;
}

.home-item-2 img{
  width: 300px;
  border-radius: 30%;
}

@media screen and (max-width: 768px){
  .home {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 491px){
  .home-item-1 .title{
    padding: 20px;
    border: 1px dashed #ddd;
  }
  
  .home-item-1 h1{
    font-size: 2.8rem;
    white-space: nowrap;
  }
}