nav{
  background: #222;
  position: fixed;
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav .nav-img{
  background: #000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  position: absolute;
  top: 0;
}
nav .nav-img img{
  width: 50px;
  margin: 0 auto;
}
ul.nav-icons{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul.nav-icons img{
  width: 25px;
  margin: 15px 0;
  transition: .7s;
}
.nav-title{
  font-size: .6em;
  font-weight: 300;
  color: #08ffc8;
  transition: .7s;
}
ul.nav-icons li{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
}
ul.nav-icons li span{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.nav-icons li span:nth-child(2),
ul.nav-icons li span:nth-child(3){
  opacity: 0;
  transition: .4s;
}
ul.nav-icons li:hover > span:nth-child(3){
  opacity: 1;
  transition: .4s;
}
ul.nav-icons li:hover > img:nth-child(1){
  opacity: 0;
  transition: .4s;
}

@media screen and (max-width: 1024px){
  nav{
    display: none;
  }
}