section.projetos{
  padding-left: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, .8);
}
section.projetos .projetos-item{
  width: 50%;
  height: 25vw;
  position: relative;
  /* margin: 5px 5px; */
}
section.projetos .projetos-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.projetos .projetos-item span{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  transition: .5s;
  opacity: 0;
  text-align: center;
}
section.projetos .projetos-item span:hover{
  opacity: 1;
}
section.projetos .projetos-item span h2{
  padding: 0 10px;
  font-size: .9em;
}
section.projetos .projetos-item span p{
  font-size: .7em;
  padding: 0 10px;
  margin: 30px 0;
}
.projetos-actions a{
  border: 1px solid #08ffc8;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  transition: .5s;
  font-size: .7em;
}
.projetos-actions a:hover{
  background: rgba(0, 0, 0, .3)
}

@media screen and (max-width: 1024px){
  section.projetos{
    padding-left: 0;
  }
  section.projetos .projetos-item span{
    opacity: 1;
  }
}
@media screen and (max-width: 540px){
  section.projetos .projetos-item{
    width: 100%;
    height: 50vw;
  }
  section.projetos .projetos-item {
    margin: 5px 3px;
  }
  section.projetos .projetos-item span{
    border: 1px solid white;
  }
}