.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(255, 255, 0, 1);
  margin-bottom: 200px;
  padding: 40px 70px;
  outline: 5px dotted rgba(255, 255, 0, 1);
}

.sobre p {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

.sobre p::after{
  content: '';
  display: block;
  width: 400px;
  margin: 50px auto;
  height: 2px;
  background: #222;
}

.sobre-item-1, .sobre-item-2, .sobre-item-3, .sobre-item-4{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sobre-item-2 img, .sobre-item-3 img{
  border-radius: 100px;
  width: 450px;
  transition: .7s
}

.sobre-item-2 img:hover, .sobre-item-3 img:hover{
  border-radius: 5px;
  transform: scale(1.05);
}